<!DOCTYPE HTML>
<html>

<head>
	<title>SHODAN - A new type of Discord Bot</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header">

			<!-- Logo -->
			<h1>I am SHODAN.<br>A completely unique Discord Bot</h1>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="/demo">Home</a></li>
					<li><a href="/demo/commands">Commands</a></li>
					<li class="current"><a href="/demo/partners">Partners</a></li>
					<li><a href="https://goo.gl/forms/QL0Mw2GxfCs5d7Lm2">Partner Now</a></li>
					<li><a href="https://api.shodanbot.com">Cortex-Reaver API</a></li>
					<li><a href="https://axelgreavette.js.org">About the Developer</a></li>
				</ul>
			</nav>
		</section>
		<!-- Banner -->
		<section id="banner">
			<header>
				<h2>I am the only bot you'll ever need for</h2>
				<p>Moderation. Fun. Stats. Utilities. Searches</p>
			</header>
		</section>

		<section id="main">

			<h2 class="commands-title">Here are some People who <br>are partnered with SHODAN</h2>
			<div class="row justify-content-md-center" id="commands">
				<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
					<table class="table">
						<tbody>
							<tr>
								<th scope="row"><a class="btn" href="https://discord.gg/zStjW7d" style="font-size: 25px;">Rayyic Tech</a>
									<td>Rayyic Tech is a freelance development organization currently serving over 5 Discord servers! Get more info on their <a href="https://rayyic.xyz">website</a></td>
								</th>
							</tr>
							<tr>
								<th scope="row"><a class="btn" href="https://discord.gg/3PCsJvX" style="font-size: 25px;">Gaming Nation</a>
								</th>
								<td>Are you a gamer? Then GamerNation is the server for you! We've got games and game roles, music bots, sick emotes, memes, open positions for new staff, leveled ranks and roles, special people and youtubes, and over 100 members already!</td>
							</tr>
							<tr>
								<th scope="row"><a class="btn" href="https://discord.gg/j9DYR9q" style="font-size: 25px;">SkillzHub</a>
								</th>
								<td>SkillzHub is the server of your dreams. What has it got? Over 1000 users, cool custom emojis, giveaways, nice staff, music channels, 24/7 nightcore, off-topic channels, roleplay, lots of fun bots and so much more!</td>
							</tr>
							<tr>
								<th scope="row"><a class="btn" href="https://amandabot.ga" style="font-size: 25px;">Amanda</a>
								</th>
								<td>Amanda is a chatbot for Discord boasting a decently sized list of commands. She gets updated regularly and each update only brings more fun to be had.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	</div>
	</section>
	<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="col-12">
				<div style="text-align:center;">
					<img src="images/logo.png" style="width: 5%;" />
				</div>

				<!-- Copyright -->
				<div id="copyright">
					<ul class="links">
						<li>&copy; Axel Greavette. All rights reserved.</li>
					</ul>
				</div>

			</div>
		</div>
		</div>
	</section>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>


</body>

</html>
