{
    "bot": {
        "token": "token",
        "admins": [
            "228872946557386752",
        ],
        "prefix": ">",
        "debug_mode": false,
        "log_file_name": "log.txt"
    },
    "web": {
        "chewey-bot": "chewey-bot api token",
        "nasa": "nasa api key"
    },
    "webhooks": {
        "N": {
            "id": "webhook-id",
            "token": "webhook-token"
        }
    }
}