{
    "bot": {
        "token": "token",
        "admins": [
            "228872946557386752",
            "365955998122508300"
        ],
        "prefix": "s$",
        "debug_mode": false,
        "log_file_name": "log.txt"
    },
    "web": {
        "chewey-bot": "chewey-bot api token",
        "express-port": "8089",
        "ping-api": "",
        "domain-api-key": ""
    },
    "mysql": {
        "host": "mysql-host",
        "password": "mysql-password",
        "database": "mysql-database",
        "username": "mysql-username"
    },
    "webhooks": {
        "AGC": {
            "id": "webhook-id",
            "token": "webhook-token"
        }
    }
}