<!DOCTYPE html>
<html>
	<head>
		<title>sh0dan - Perfecti0n Ach1eved</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="/">sh0dan<br>Asc3nd wh4t's p0ssible</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="/">Home</a></li>
								<li><a href="https://axelgreavette.xyz">About the Developer</a></li>
							</ul>
						</nav>
					</section>
					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>The on1y bot you'll ev3r ne3d f0r</h2>
								<p>Fun. Stats. Utilities. Searches</p>
							</header>
						</section>
						<section id="main">

						<div class="row justify-content-md-center center" id="commands">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width: 100%;">
								<div class="text-center">
									<h2 class="commands-title">Here are SHODAN's Commands</h2>
								</div>
							</div>
							<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
								<table class="table">
									<tbody>
							<tr>
											 <th scope="row" class="counting">s:suggest &lt;SUGGESTION&gt;</th>
														<td>Suggest something. Either posts it to the #suggestions channel or if none exist to the channel it was executed in</td>
													</tr>
						<tr>
											 <th scope="row" class="counting">s:avatar &lt;@USER&gt;</th>
														<td>Gets your avatar or, in inputed, another users avatar. @USER is optional</td>
													</tr>
						<tr>
											 <th scope="row" class="counting">s:nickname &lt;@USER&gt; | &lt;NICKNAME&gt;</th>
														<td>Changes the mentioned user's nickname to the given one. Note: Requires the mention and new nickname be seperated with a <code>| </code>. Yes theres a space beside it</td>
													</tr>
							<tr>
											 <th scope="row" class="counting">s:removerole &lt;@USER&gt; &lt;@ROLE&gt;</th>
														<td>Removes the @ROLE from the mentioned user</td>
													</tr>
							<tr>
											 <th scope="row" class="counting">s:addrole &lt;@USER&gt; &lt;@ROLE&gt;</th>
														<td>Adds the @ROLE to the mentioned user</td>
													</tr>
							<tr>
											 <th scope="row" class="counting">s:ban &lt;@USER&gt; &lt;REASON&gt;</th>
														<td>Bans the mentioned user as long as you have the right permissions. Reason not required</td>
													</tr>
							<tr>
							<tr>
											 <th scope="row" class="counting">s:kick &lt;@USER&gt; &lt;REASON&gt;</th>
														<td>Kicks the mentioned user as long as you have the right permissions. Reason not required</td>
													</tr>
							<tr>
							<tr>
											 <th scope="row" class="counting">s:reverse &lt;TEXT&gt;</th>
														<td>Reverses the inputed text</td>
													</tr>
							<tr>
											 <th scope="row" class="counting">s:prune &lt;NUMBER&gt;</th>
														<td>Deletes the number of messages specified as long as you have the MANAGE_MESSAGES permission</td>
													</tr>
									<tr>
											 <th scope="row" class="counting">s:echo-d &lt;INPUT&gt;</th>
														<td>Echos the INPUTED text and deletes the execution command</td>
													</tr>
													<tr>
											 <th scope="row" class="counting">s:ping</th>
														<td>Gives you the bot's ping and your own ping</td>
													</tr>
										<tr>
							<tr>
								 <th scope="row" class="counting">s:vote</th>
											<td>Checks if you've voted for SHODAN on Discord Bot List. Note: Will unlock features in the future!</td>
										</tr>
							<tr>
								 <th scope="row" class="counting">s:guildemojis</th>
											<td>List all the emojis in the Guild where the command was executed</td>
										</tr>
							<tr>
							<th scope="row" class="counting">s:urban &lt;TERM&gt;</th>
							<td>Urban Dictionary Definition for 'term'</td>
							</tr>
							<tr>
								 <th scope="row" class="counting">s:stab &lt;@USER&gt;</th>
											<td>Stab a virtual someone</td>
										</tr>
								<tr>
											<th scope="row" class="counting">s:clapme &lt;INPUT&gt;</th>
											<td>For 👏 the 👏 clap 👏 memes</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:ow &lt;Battle Tag&gt;</th>
											<td>Grabs the OverWatch profile / Stats of the Battle Tag</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:gid</th>
											<td>Retrieves the Guild [sever] ID</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:guildinfo</th>
											<td>Retrieves Guild [server] information such as member count and ID</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:chat &lt;@USER&gt;</th>
											<td>Chat with the mentioned user through the bot</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:math &lt;QUESTION&gt;</th>
											<td>Solves the quick maths</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:info</th>
											<td>General Bot Information</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:discordstatus</th>
											<td>Discord Server Status</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:catus &lt;ERROR CODE&gt;</th>
											<td>Generates a 'Cat error code' picture</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:idof &lt;CHANNEL OR USER MENTION&gt;</th>
								<td>Finds the ID of the mentioned channel or user</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:partners</th>
											<td>Bot Partner imforation</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:gifsearch &lt;SEARCH &gt;</th>
											<td>Giphy Search</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:gifme</th>
											<td>Random gif</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:boop &lt;@USER&gt;</th>
											<td> Boop the mentioned user</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:slap &lt;@USER&gt;</th>
											<td>Slap the mentioned user</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:hug &lt;@USER&gt;</th>
											<td>Hug the mentioned user</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:bibleverse</th>
											<td>Grabs a random verse from the Christian Bible</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:robohash &lt;TEXT&gt;</th>
											<td>Generates a random image based on the inputed text</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:qrcode &lt;WEBSITE.COM&gt;</th>
											<td>Generates a QR Code leading the inputed website</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:gender &lt;NAME&gt;</th>
											<td>Figures out the gender of the inputed firstname</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:donald</th>
											<td>Grabs a random Donald Trump quote</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:memequote</th>
											<td>Text based meme</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:bitcoin</th>
											<td>Bitcoin Data</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:randomquote</th>
											<td>Random quote</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:github &lt;GITHUB USERNAME&gt;</th>
											<td>Retrieves the inputed GitHub Profile</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:findlogo &lt;WEBSITE.COM&gt;</th>
											<td>Retrieves the logo of the inputed website</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:bitbucket &lt;BITBUCKET USERNAME&gt;</th>
											<td>Retrieves the inputed BitBucket Profile</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:newpersona</th>
											<td>Generates a new persona for you</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:findemoji &lt;DISCORD EMOJI&gt;</th>
											<td>Retrieves the inputed emoji</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:detectlanguage &lt;WORD&gt;</th>
											<td>Finds the language of the inputed word</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:garfield latest</th>
											<td>Retrieves the latest Garfield comic</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:garfield random</th>
											<td>Retrieves a random Garfield comic</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:shorturl &lt;WEBSITE.COM&gt;</th>
											<td>Generates a short url leading to the inputed website</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:apod</th>
											<td>Retrieves the Astronomy Picture of the Day</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:piratespeak &lt;TEXT INPUT&gt;</th>
											<td>Translates the inputed text into Pirate Speak</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:snek</th>
											<td>Snek Anatomy</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:iss</th>
											<td>ISS location stats</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:ermahgerd &lt;TEXT INPUT&gt;</th>
											<td>Translates the inputed text into Engrish</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:stats</th>
											<td>Bot related statistics</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:newpersona</th>
											<td>Generates a new persona for you</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:insult &lt;@USER&gt;</th>
											<td>Insults the mentioned user</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:invite</th>
											<td>Easy bot-invite</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:mathfact</th>
											<td>Random mathimatical fact</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:startup</th>
											<td>Is This For That startup company ideas</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:dog</th>
											<td>Random dog picture</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:cat </th>
											<td>Random cat picture</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:yesno &lt;QUESTION&gt;</th>
											<td>Answers Yes / No questions</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:cnfact</th>
											<td>Chuck Noris facts</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:feedback &lt;FEEDBACK MESSAGE&gt;</th>
											<td>Send me feedback regarding SHODAN</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:steaminfo &lt;STEAM VANITY URL NAME&gt;</th>
											<td>Retrieves Steam profiles</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:xkcd</th>
											<td>Retrieves a random XKCD comic</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:cid</th>
											<td>Retrieves ID of the channel the command is executed in</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:help</th>
											<td>All of this delivered to you in a Discord Direct Message</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:id</th>
											<td>Retrieves ID of the person who executes the commannd</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:echo &lt;MESSAGE&gt;</th>
											<td>Echos the inputed message in the chat</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:search &lt;SEARCH INPUT&gt;</th>
											<td>Searchs DuckDuckGo for the inputed term</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:joke</th>
											<td>Retrieves a random joke</td>
										</tr>
										<tr>
											<th scope="row" class="counting">s:anime &lt;ANIME NAME&gt;</th>
											<td>Searchs MyAnimeList.net for the inputed Anime</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
</section>
						<!-- Footer -->
							<section id="footer">
								<div class="container">
										<div class="col-12">
											<div style="text-align:center;">
											<img src="images/logo.png" style="width: 5%;" />
											</div>

											<!-- Copyright -->
												<div id="copyright">
													<ul class="links">
														<li>&copy; Axel Greavette. All rights reserved.</li>
													</ul>
												</div>

										</div>
									</div>
								</div>
							</section>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
			<script src="assets/js/jquery.counterup.min.js"></script>

	</body>
</html>
